version: "3.9"
services:
  backend:
    container_name: spezi-desafio-covid-backend
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3333 -b '0.0.0.0'"
    volumes:
      - .:/myapp
    ports:
      - "3333:3333"